@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #f0e2c5;
  --secondary-color: #282421; //black
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #282421;
}

.container {
  background-color:#f0e2c5;
  width: 70vw;
  min-height: 80vh;
  max-width: 38em;
  text-align: center;
  padding: 2.5em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#282421;
}

.form-control {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}

.form-control button {
  font-size: 1em;
  background-color: #282421;
  color: #f0e2c5;
  padding: 0.8em 0;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.form-control input {
  font-size: 1em;
  padding: 0 0.62em;
  border: 2px solid #282421;
  outline: none;
  border-radius: 27px;
}

.image {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

#image{
  border-radius: 10px;
}
.logo_secretaria{
  width: 10em;
}